.contactus, .login, .signup, .help{
	.bg{
		background: #f3f3f3;
		padding: 60px 15px;
		a{
			color: $blueGreen;
		}
	}
	hr{
		border: 0px;
		height: 4px;
		background: $orange;
	}
	.title{
		h1, h4, h5{
			text-align: center;
		}
	}
	.contact_form{
		max-width: 400px;
		margin: auto;
		@media #{$xs} {
			max-width: 350px;
		}
		.form-group{
			overflow: hidden;
			label{
				color: $suvaGray;
			}
		}
		.checkbox{
			margin: 0px;
		}
	}
	.help_panel{
		max-width: 600px;
		margin: auto;
		a{
			color: $suvaGray;
		}
		.panel-heading{
			height: 46px;
		    padding: 15px 15px;
		    background: white;
		    .panel-title{
		    	cursor: pointer;
		    }
		}
		.panel-body{
			color: $suvaGray;
		}
		.panel-group{
			margin-bottom: 10px;
		}
	}
}