.download{
	.banner{
		color: white;
		background: $orange;
		padding: 100px 0px;
		.content{
			overflow: hidden;
			max-width: 600px;
			margin: auto;
			text-align: center;
			.imgbtn{
				float: left;
			}
			.imgbtn:hover{
				opacity: 0.9;
			}
			.imgbtn:active{
				opacity: 0.8;
			}
			h1{
				font-size: 50px;
				@media #{$xs} {
					font-size: 40px;				
				}
			}
		}
		.col-sm-6{
			height: 500px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@media #{$sm} {
				height: inherit;
				margin-top: 100px;				
			}
		}
	}
}