.footer{
	background: $suvaGray;
	overflow: hidden;
	padding: 40px 40px 0px;
	div{
		overflow: hidden;
	}
	h4{
		color: #bcbcbc;
		font-weight: normal;
		margin-bottom: 25px;
	}
	.social_icons{
		color: white;
		font-size: 24px;
	}
	.menu_left{
		float: left;
	}
	.menu_right{
		float: right;
	}
	.lang{
		.active{
			color: #bcbcbc;
		}
		span{
			cursor: pointer;
			color: white;
		}
		span:hover{
			opacity: 0.8;
		}
		span:active{
			color: #999999;
		}
	}
	ul{
		font-size: 13px;
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
		margin-top: 15px;
		color: #7F8C8D;
		li{
			margin-bottom: 20px;
		}
	}
	a{
		color: white;
	}
	p{
		color: white;
	}
}
.footer>.col-md-6{
	margin-bottom: 40px;
}