.getstarted{
	background: #f3f3f3;
	padding: 80px 0px;
	.title{
		text-align: center;
	}
	.content{
		overflow: hidden;
		max-width: 990px;
		margin: auto;
		padding: 20px 0px;
		.item{
			color: gray;
			text-align: center;
			height: 350px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			p{
				max-width: 220px;
				padding: 30px 0px 50px;
			}
			button{
				width: 150px;
			}
		}
		.or{
			font-size: 20px;
			font-weight: bold;
			color: gray;
			text-align: center;
			@media (min-width: 992px) {
				padding-top: 150px;
			}
			@media (max-width: 991px) {
				width: 250px;
				margin: 0 auto;
			}
		}
		.or:before{
			@media (min-width: 992px) {
				top: 0px;
			}
			@media (max-width: 991px) {
				float: left;
			}
		}
		.or:after{
			@media (min-width: 992px) {
				top: 200px;
			}
			@media (max-width: 991px) {
				float: right;
			}
		}
		.or:before, .or:after{
			@media (min-width: 992px) {
				position: absolute;
				content: "";
				display: block;
				padding: 65px 0px;
				border-left: 1px solid gray;
				border-right: 1px solid #e0e0e0;
				left: 80px;
			}
			@media (max-width: 991px) {
				content: "";
				display: block;
				padding: 0px 40px;
				border-top: 1px solid gray;
				border-bottom: 1px solid #e0e0e0;
				margin: 13px 9px 9px;
			}
		}
	}
}