.homepage{
	.banner{
		background: $blueGreen;
		overflow: hidden;
		padding: 110px 0px 50px;
		color: white;
		.title{
			margin: 40px 0px;
			font-size: 30px;
			text-align: center;
		}
		.banner_left, .banner_right{
			height: 450px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.down_arrow{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 80px;
		}
	}

	.post{
		overflow: hidden;
		padding: 80px 40px 50px;
		@media #{$xs} {
			padding: 50px 10px 20px;
		}
		.item{
			margin: 30px 30px 70px;
		}
		.title{
			color: $orange;
			font-size: 22px;
			margin-bottom: 20px;
			margin-left: -28px;
		}
		.content{
			font-size: 20px;
			color: #737373;
		}
	}
	.learnmore{
		overflow: hidden;
		color: white;
		padding: 120px 70px;
		@media #{$xs} {
			padding: 50px 30px;
		}
		p{
			font-size: 24px;
			margin-top: 30px;
		}
		.button{
			margin-top: 50px;
			display: flex;
			justify-content: center;
		}
	}
	.portfolio{
		overflow: hidden;
		.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
			padding: 0px;
		}
		.item{
			height: 500px;
			background-size: cover !important;
			background-repeat: no-repeat !important;
			color: white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@media #{$md} {
				height: 350px;
			}
			@media #{$xs} {
				height: 300px;
			}
		}
		h1{
			font-size: 50px;
			@media #{$md} {
				font-size: 35px;
			}
			@media #{$xs} {
				font-size: 25px;
			}
		}
		p{
			font-size: 25px;
			@media #{$md} {
				font-size: 18px;
			}
			@media #{$xs} {
				font-size: 15px;
			}
		}
	}
	.subscribe{
		padding: 80px 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		h1{
			text-align: center;
			margin-bottom: 50px;
		}
		.email{
			width: 500px;
			@media #{$xs} {
				width: 350px;
			}
		}
	}
}