.navbar{
	margin: 0px;
	border: 0px;
	background: white;
	-webkit-box-shadow: 0 8px 6px -6px #999;
	-moz-box-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #999;
	.logo{
		width: 65px;
		height: 65px;
		background-size: contain !important;
		@media #{$sm} {
			width: 50px;
			height: 50px;
		}
	}
	.navbar-brand{
		padding: 0px 15px;
		height: inherit;
	}
	li{
		a{
			line-height: 34px;
		}
	}
	.navbar-text{
		line-height: 34px;
		font-weight: 200;
		margin-right: -10px;
		padding-left: 15px;
	}
}