.ourstory{
	.banner{
		background: $blueGreen;
		padding: 120px 15px 150px;
		color: white;
		.title{
			max-width: 1000px;
			margin: auto;
			text-align: center;
			h1{
				font-size: 60px;
				@media #{$xs} {
					font-size: 35px;
				}
			}
			h2{
				@media #{$xs} {
					font-size: 25px;
				}
			}
		}
	}
	.description{
		text-align: center;
		padding: 100px 50px 80px;
		.content{
			max-width: 1200px;
			margin: auto;
			margin-top: 60px;
			font-size: 22px;
		}
	}
	.founders{
		.title{
			text-align: center;
		}
		.content{
			padding: 50px 100px 80px;
			overflow: hidden;
			@media #{$xs} {
				padding: 50px 20px 50px;
			}
			.photo{
				margin-bottom: 50px;
			}
			.col-md-7, .col-md-5{
				padding: 0px;
			}
			.introduce{
				font-size: 20px;
				color: $suvaGray;
				margin: 20px 0px 50px;
			}
			.presskit{
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				.text{
					color: $suvaGray;
					font-size: 18px;
					width: 200px;
				}
				.orange{
					color: $orange;
				}
				.social_icons{
					color: $suvaGray;
					font-size: 30px;
				}
			}
		}
	}
	.join{
		text-align: center;
		padding: 100px 20px;
		background: $blueGreen;
		color: white;
		.box{
			max-width: 800px;
			margin: auto;
			.join_text{
				padding: 20px 0px;
				font-size: 20px;
			}
		}
	}
}