.proinfo{
	.banner{
		padding: 50px 0px;
		overflow: hidden;
		background: $dimGray;
		.title{
			margin: 230px 0px 50px;
			@media #{$md} {
				margin-top: 50px;
			}
		}
		.form{
			border-radius: 5px;
			background: white;
			width: 375px;
			padding: 0px 20px 20px;
			.tail{
				text-align: center;
			}
		}
		.col-md-6{
			display: flex;
			justify-content: center;
		}
	}
	.posts{
		padding: 30px 0px;
		overflow: hidden;
		@media #{$md} {
			padding: 30px 20px;
		}
		.item{
			margin: 50px 0px;
		}
		.col-md-2{
			@media #{$md} {
				display: none;
			}
		}
	}
	.maps{
		background: #eff7f9;
		.title{
			padding: 20px;
			text-align: center;
		}
		.map{
			height: 500px;
		}
		.peoples{
			margin-top: -40px;
			display: flex;
			justify-content: space-around;
			.people{
				text-align: center;
				z-index: 1000;
			}
		}
		.butt{
			text-align: center;
			padding: 30px 0px 50px;
		}
	}
	.how{
		overflow: hidden;
		padding: 0px 0px 80px;
		.title{
			padding: 30px;
			text-align: center;
		}
		.content{
			.items{
				height: 300px;
				margin: 50px 0px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				.item{
					width: 350px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					.name{
						width: 130px;
						text-align: right;
					}
				}
			}
			.col-md-2{
				text-align: center;
			}
			.description{
				max-width: 300px;
				margin: 140px auto 30px
			}
		}
	}
	.quote{
		color: white;
		overflow: hidden;
		background: $blueGreen;
		padding: 0px 0px 60px;
		.title{
			padding: 30px;
			text-align: center;
		}
		.content{
			margin-top: 20px;
			.item{
				margin: auto;
				text-align: center;
				max-width: 300px;
				height: 250px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				p{
					font-weight: 200;
					font-style: italic;
				}
			}
		}
	}
	.get{
		overflow: hidden;
		padding: 100px 0px;
		@media #{$sm} {
			padding: 60px 20px 30px;
		}
		.description{
			max-width: 500px;
			margin: auto;
			p{
				font-size: 18px;
				color: gray;
				font-weight: 200;
			}
		}
		.button{
			margin: 50px auto;
			display: flex;
			justify-content: center;
		}
	}
}