.stylistprofile{
	.banner{
		height: 250px;
		background: $blueGreen;
		display: flex;
		justify-content: center;
		align-items: center;
		@media #{$xs} {
			background: transparent;
		}
		@media (max-width: 375px){
			height: 350px;
		}
		.imgs{
			display: none;
			@media #{$xs} {
				display: block;
			}
			@media (max-width: 375px){
				width: 250px;
			}
		}
	}
	.content{
		padding: 0px 100px;
		@media #{$md} {
			padding: 0px;
		}
		.mui-tabs__bar>li.mui--is-active>a{
			color: $blueGreen;
		}
		.mui-tabs__bar>li.mui--is-active{
			border-bottom: 5px solid $blueGreen;
		}
	}
	.singlepagetab>div{
		margin-top: -65px;
		padding-top: 65px;
	}
	.imgs{
		width: 375px;
		.viewmore{
			width: 125px;
			height: 100px;
			background: black;
			color: white;
			text-align: center;
			float: right;
			padding-top: 15px;
			cursor: pointer;
		}
	}
	.overview{
		.header{
			padding: 50px 0px 30px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			@media #{$sm} {
				flex-direction: column;
			}
			.man{
				display: flex;
				align-items: center;
				float: left;
				.photo{
					width: 150px;
					@media #{$sm} {
						width: 100px;
					}
					img{
						width: 100%;
						height: auto;
					}
				}
				.name{
					margin-left: 20px;
					@media #{$sm} {
						h3{
							font-size: 20px;
						}
						h4{
							font-size: 16px;
						}
					}
				}
			}
			.review{
				min-width: 100px;
				.stars{
					font-size: 20px;
					div{
						display: block !important;
					}
				}
				.countreview{
					text-align: right;
				}
			}
		}
		.introduce{
			.description{
				color: $suvaGray;
				font-size: 18px;
			}
			@media #{$sm} {
				h3{
					font-size: 20px;
				}
				.description{
					font-size: 16px;
				}
			}
		}
		.contactme{
			padding: 30px 0px;
			a{
				color: $orange;
			}
		}
	}
	.services{
		h3{
			margin-bottom: 30px;
		}
		.panel{
			border: none;
			box-shadow: none;
			.panel-heading{
				background: $blueGreen;
				text-align: center;
				color: white;
			}
		}
		.item{
			padding: 5px 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.btn{
				border-radius: 18px;
			}
		}
	}
	.reviews{
		.header{
			overflow: hidden;
			padding: 30px;
			@media #{$sm} {
				padding: 0px;
			}
			.score{
				font-weight: 100;
				font-size: 70px;
			}
			.col-sm-5{
				text-align: center;
			}
			.starrating{
				font-size: 18px;
				padding-top: 5px; 
				label{
					padding: 0px 2px;
				}
			}
			.starlable{
				text-align: right;
			}
			.subscores{
				margin-top: 20px;
				@media #{$xs} {
					h4{
						font-size: 14px;
					}
				}
			}
		}
		.main{
			padding: 30px 10px;
			@media #{$xs} {
				padding: 10px 0px;
			}
			.reviewitem{
				margin-bottom: 30px; 
				.title{
					display: flex;
					align-items: center;
					justify-content: space-between;
					.man{
						display: flex;
						align-items: center;
						.name{
							margin-left: 20px;
						}
					}
				}
				.introduce{
					margin: 20px 0px;
				}
			}
		}
		.pagination>li>a, .pagination>li>span{
			color: #bbbbbb;
		}
		.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
			background-color: white;
    		border-color: #bbbbbb;
		}
		.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
			color: $dimGray;
			font-weight: bold;
		}
	}
	.location{
		height: 600px;
		padding: 30px 0px 60px;
	}
	.overlay{
		width: 377px;
		margin: -50px auto 0px;
		@media #{$xs} {
			width: inherit;
		}
		@media #{$lg} {
			margin: auto;
		}
		.timetable{
			border: 1px solid #ebebeb;
			.imgs{
				@media #{$xs} {
					display: none;
				}
			}
			.times{
				padding: 20px;
				h4{
					text-align: center;
					margin: 30px 0px;
				}
				.rows{
					display: flex;
					justify-content: space-between;
				}
			}
		}
		.actions{
			margin: 20px 0px;
			// width: 377px;
			height: 205px;
			border: 1px solid #ebebeb;
			hr{
				margin: 0px;
			}
			a{
				color: black;
			}
			a:hover{
				color: $blueGreen;
			}
			.item{
				overflow: hidden;
				padding: 20px 0px;
				font-size: 20px;
				font-weight: 200;
				.col-xs-4{
					text-align: right;
				}
			}
		}
		.report{
			font-size: 18px;
			color: gray;
			text-align: center;
			font-weight: 200;
			margin: 20px auto 30px;
		}
	}
}