body{
	font-family: 'Montserrat', cursive;
	padding-top: 65px;
	@media #{$sm} {
		padding-top: 50px;
	}
}
.graytext{
	color: gray;
	a{
		color: gray;
	}
}
.orangetext{
	color: $orange;
	a{
		color: $orange;
	}
}

.blueGreentext{
	color: $blueGreen;
	a{
		color: $blueGreen;
	}
}