.btn-blue-green {
    background-color: $blueGreen;
    color: white;
}
.btn-blue-green:hover {
    color: gray;
}
.btn-orange {
    background-color: $orange;
    color: white;
}
.btn-orange:hover {
    color: gray;
}
.btn-dimGray {
    background-color: $dimGray;
    color: white;
}
.btn-dimGray:hover {
	color: #DBDBDB;
}
.btn-facebook {
    background-color: rgb(46,91,149);
    color: white;
}
.btn-facebook:hover {
	color: rgb(219,219,219);
}
.btn-google {
    background-color: rgb(230,59,53);
    color: white;
}
.btn-google:hover {
	color: rgb(219,219,219);
}