
///////collapse panel///////
.stylistprofile{
	.panel-heading{
		overflow: hidden;
		cursor: pointer;
		a{
			padding: 10px 40%;
		}
	}
	.panel-heading a:after {
	    /* symbol for "opening" panels */
	    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
	    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
	    float: right;        /* adjust as needed */
	    color: white;         /* adjust as needed */
	}
	.panel-heading a.collapsed:after {
	    /* symbol for "collapsed" panels */
	    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
	}
}
.help{
	.panel-heading{
		height: inherit !important;
		overflow: hidden;
		cursor: pointer;
		a{
			padding: 10px 0px;
			padding-right: 100%;
		}
	}
	.panel-heading a:after {
	    /* symbol for "opening" panels */
	    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
	    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
	    float: right;        /* adjust as needed */
	    color: gray;         /* adjust as needed */
	}
	.panel-heading a.collapsed:after {
	    /* symbol for "collapsed" panels */
	    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
	}
}
///////collapse panel end///////

///////validate/////////////////
.help-block{
	color: #f44336;
	margin: 0;
}
////////////////////////////////

///////google-recapcha//////////
#g-recaptcha>div{
	margin: auto;
}
////////////////////////////////

//////alertposition/////////////
.alert{
	width: 300px;
	position: fixed;
	right: 20px;
}
//////////////////

///////modal /////////
.blueGreenHeader{ 	
	background: #49b7b7;
	color: white;
	text-align: center;
	border: none;
}
.modalsubheader{
	width: 100%;
	height: 50px;
	padding: 0px 10px;
	background: $orange;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
//////
.grayHeader{
	background: #EDEFED;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.custom_modal_body{
	overflow: hidden;
	background: #EDEFED;
	.sideBar{
		padding: 20px 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.main{
		padding: 20px;
		background: white;
		.tail{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}
@media #{$sm} {
	.modal-dialog {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	.modal-content {
		height: auto;
		min-height: 100%;
		border-radius: 0;
	}
	.modal{
		padding: 0px !important;
	}
}
///////modal /////

////react-big-calendar////////
.rbc-event{
	background-color: #9bd01a !important;
	border: 1px solid #9bd01a !important;
}
@media #{$md} {
	.rbc-toolbar{
		flex-direction: column;
	}
}

.customToolbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	font-size: 20px;
	margin-bottom: 10px;
	span:hover{
		opacity: 0.8;
	}
}


.rbc-time-header> .rbc-row:nth-of-type(2) {
    display: none;
}

.rbc-timeslot-group{
	min-height: 25px !important;
}
////react-big-calendar////
