$xl: "only screen and (min-width : 1200px)";
$lg: "only screen and (max-width : 1199px)";
$md: "only screen and (max-width : 991px)";
$sm: "only screen and (max-width : 767px)";
$xs: "only screen and (max-width : 575px)";

$blueGreen: #49b7b7;
$orange: 	#f26c4f;
$dimGray:	#707070;
$suvaGray:	#898989;