#onenav {
	list-style: none;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #e6e6e6;
}
#onenav li{
	display: inline-block;
}
#onenav a{
	color: gray;
	display: block;
	font-size: 18px;
	padding: 10px 20px;
	text-decoration: none;
}
#onenav a:hover{
	color: black;
}
#onenav .current a{
	border-bottom: 5px solid #49b7b7;
	color: #49b7b7;
}
@media (max-width: 767px) {
	#onenav a{
		font-size: 15px;
    	padding: 10px 8px;
	}
}
@media (max-width: 575px) {
	#onenav a{
		font-size: 12px;
    	padding: 10px 5px;
	}
}